/*--------------------------------------------------------------
# Colours
--------------------------------------------------------------*/
$color__white: #fff;
$color__greyish: #555;
$color__grey-light: #ddd;
$color__black: #000;

$color__red: #bf6449;

$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__primary: #004784;
$color__secondary: #83d0f5;
$color__accent: #3C73A3;
$color__text-screen: $color__white;
$color__text-input: $color__greyish;
$color__text-input-focus: #111;
$color__link: $color__secondary;
$color__link-hover: lighten($color__accent, 20);
$color__text-main: $color__white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: $color__greyish;

/*--------------------------------------------------------------
# Typo
--------------------------------------------------------------*/
$font__main: 'Source Sans Pro', sans-serif;
$font__heading: 'Source Serif Pro', serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
$max-width: 1000px;

// currently same as default
$breakpoints: (
		xs: 0,
		sm: 480px,
		md: 576px,
		lg: 768px,
		xl: $max-width
);

$container-max-widths: (
		xs: 54rem,
		sm: 72rem,
		md: 96rem,
		lg: 100rem, // rem for upwardly responsive
		//xl: $max-width
);
